html {
    position: relative;
    min-height: 100%;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-image: url(../images/diagmonds.png);
    background-repeat: repeat;
    color: #eee;
}
.footnote{
    /*background-color: #eee;*/
/*    background: -webkit-linear-gradient(to bottom right, #390f41, #bc87c6, #390f41); /* For Safari 5.1 to 6.0 */
/*   background: -o-linear-gradient(to bottom right, #390f41, #bc87c6, #390f41); /* For Opera 11.1 to 12.0 */
/*    background: -moz-linear-gradient(to bottom right, #390f41, #bc87c6, #390f41); /* For Firefox 3.6 to 15 */
/*    background: linear-gradient(to bottom right, #337ab7, #061f34, #337ab7);/* Standard syntax (must be last) */
    box-shadow:  0 6px 20px 0 rgba(0,0,0,.075);
}
.footnote img{
    width:4em;height:4em;display:inline-block!important;
}
.footnote article{
    display:inline-block!important;
        color: #eee;
    font-weight: bold;
}
.push{
    padding: 1em;
}
#emailIdLink{
    color: #eee;
  text-decoration: none;
}
.JumbotronPara div {
    margin-top: -2.5%;
    z-index: -1;
    height: 100%;
}
.objectivePara p {
    padding-top: 0.1%;
}
.contact-header-space {
    padding-top: 10%;
}
/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
    p.for-phone-alignment,
    p.for-copyright-alignment {
        text-align: center;
    }
    body {
        /* Margin bottom by footer height */
        
        margin-bottom: 127px;
    }
    footer {
        /* Set the fixed height of the footer here */
        
        height: 127px;
    }
    .jumbotron h5 {
        font-weight: bold;
    }
}
/* others */

@media (min-width: 768px) {
    p.for-phone-alignment {
        text-align: left;
    }
    p.for-copyright-alignment {
        text-align: right;
    }
    body {
        /* Margin bottom by footer height */
        
        margin-bottom: 96px;
    }
    footer {
        /* Set the fixed height of the footer here */
        
        height: 96px;
    }
}
.skillsHeader {
    padding-bottom: 2%;
}
.skillsHeader {
    color: #fff;
}
.SkillsPage .img-thumbnail{
    transition: transform .2s ease-out;
  transition: -ms-transform .2s ease-out;
  -webkit-transition: -webkit-transform .2s ease-out;
  -moz-transition: -moz-transform .2s ease-out;
  -o-transition: -o-transform .2s ease-out;
}
.SkillsPage .img-thumbnail:hover{
 transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
}
.jumbotron h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    color: darkcyan;
    font-size: 2.5em;
}
.jumbotron h5 {
    color: #086161;
    font-size: 1.4em;
}
.jumbotron {
    background-image: url(../images/weather.png);
    background-repeat: repeat;
}
.SkillsPage {
    /*background-image: url(../images/dark_scales.png);
    background-repeat: repeat;*/
    background-color: #222222;
}
.forphone.col-xs-12 {
    margin-bottom: 2%;
}
.AcademicsPage,
.ExperiencePage {
    /*background-image: url(../images/school.png);
    background-repeat: repeat;*/
    background-color: #fcf8e3;
}
#underconstruction {
    color: white;
    text-shadow: 1px 1px 2px #222222, 0 0 25px #e9ddc6, 0 0 5px #b3790b;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    /* Safari */
    
    transition: width 2s, height 2s, transform 2s;
    background: -webkit-linear-gradient( #d8c299, #e9ddc6, #d2b277);
    /* For Safari 5.1 to 6.0 */
    
    background: -o-linear-gradient(#d8c299, #e9ddc6, #d2b277);
    /* For Opera 11.1 to 12.0 */
    
    background: -moz-linear-gradient(#d8c299, #e9ddc6, #d2b277);
    /* For Firefox 3.6 to 15 */
    
    background: linear-gradient(#d8c299, #e9ddc6, #d2b277);
    /* Standard syntax (must be last) */
}
#underconstruction:hover {
    background: -webkit-linear-gradient( #bb851f, #d4b782, #d09831);
    /* For Safari 5.1 to 6.0 */
    
    background: -o-linear-gradient(#bb851f, #d4b782, #d09831);
    /* For Opera 11.1 to 12.0 */
    
    background: -moz-linear-gradient(#bb851f, #d4b782, #d09831);
    /* For Firefox 3.6 to 15 */
    
    background: linear-gradient(#bb851f, #d4b782, #d09831);
    /* Standard syntax (must be last) */
}
/*Academics*/

@media (min-width: 768px) {
    #collegePic{
        background-image: url(../images/mainbuildingclear.jpg);
        height: 9em;
        width:22%;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
    }

    #schoolPic{
        background-image: url(../images/schoolbuilding.jpg);
        height: 9em;
        width:22%;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: left;
        background-size: contain;
    }
    .description{
        width:75%;
        display:inline-block;
    }
    .parallax1 {
        /* The image used */
        
        background-image: url('../images/mainbuildingsoft.jpg');
        
        /* Full height */
        
        height: 200px;
        width: 100%;
        /* Create the parallax scrolling effect */
        
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .parallax2 {
        /* The image used */
        
        background-image: url('../images/schoolbuildingsoft.jpg');
        
        /* Full height */
        
        height: 200px;
        width: 100%;
        /* Create the parallax scrolling effect */
        
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@media (max-width: 767px) {
    .parallax1 {
        /* The image used */
        
        background-image: url('../images/mainbuildingclear-001.jpg');
        /* Full height */
        
        height: 200px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .parallax2 {
        /* The image used */
        
        background-image: url('../images/schoolbuilding-004.jpg');
        /* Full height */
        
        height: 250px;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}
@media screen and (min-width: 900px){
    #collegePic{
        width: 30%;
    }
    #schoolPic{
        width: 30%;
    }
    .description{
        width:68%;
    }
}
@media screen and (min-width: 1100px){
    #collegePic{
        width: 35%;
    }
    #schoolPic{
        width: 35%;
    }
    .description{
        width:60%;
    }
}
.hideDiv {
    display: none;
}
#collegeInfo{
    padding: 12em 1em;
    } 
#schoolInfo{
    padding: 12em 1em;
}

#collegeInfo p,
#schoolInfo p {
    margin: 0 0 0 0;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px #000, 0 0 25px #e4d1c9, 0 0 5px #333;
    /*mix-blend-mode: difference;*/
}
#InterestsPage p.description {
    color: #2f6375;
    ;
}
#nav_up,
#nav_down {
    color: #f3eddd;
    background-color: rgba(0,0,0,.075);
    
}
/********************************************************/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 50%;
    margin: auto;
}
.carousel-control.right,
.carousel-control.left {
    background-image: none;
}
.carousel-control {
    color: #337ab7;
}
.carousel-control:hover {
    color: #337ab7;
    opacity: 1;
}
/*Experience*/

#prev_btn,
#next_btn {
    color: #1c82da;
    opacity: 0.5;
    font-size: 20px;
    padding: 5px 10px;
    display: inline-block;
    margin-top: 1em;
    border:none;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
#prev_btn:hover,
#next_btn:hover {
    opacity: 1;
}
#experienceBox {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: -webkit-linear-gradient(#68c9c3, rgb(210, 231, 244), #389554);
    /* For Safari 5.1 to 6.0 */
    
    background: -o-linear-gradient(#68c9c3, rgb(210, 231, 244), #389554);
    /* For Opera 11.1 to 12.0 */
    
    background: -moz-linear-gradient(#68c9c3, rgb(210, 231, 244), #389554);
    /* For Firefox 3.6 to 15 */
    
    background: linear-gradient(#68c9c3, rgb(210, 231, 244), #389554);
    /* Standard syntax (must be last) */
    
    margin: 0 auto;
    padding: 1px 20px;
    border-radius: 10px;
    overflow: hidden;
}
#experienceBox h3,
#experienceBox h4 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}
#experienceBox h3 {
    font-size: 2em;
    line-height: 0.9em;
    color: #052727;
    padding: 1em 0;
    text-shadow: 1px 1px 8px #2ac460;
}
#experienceBox h4 {
    color: #690613;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 1.2em;
    padding-bottom: 1em;
}
#experienceBox img {
    float: right;
    margin-left: 10px;
    border-radius: 10px;
    width: 100px;
}
#experienceBox p {
    color: #102a3e;
    font-size: 1em;
    padding-bottom: 1em;
    font-weight: bold;
}